HOTMART_WEBHOOK_TOKEN=coloca_token_webhook_hotmart
META_PIXEL_ID=772552728691061
META_ACCESS_TOKEN=coloca_meta_access_token
GA4_MEASUREMENT_ID=G-ZPV2HS45X4
GA4_API_SECRET=coloca_ga4_api_secret
LANDING_URL=https://100fe-landing.vercel.app
